{% extends "base.html" %}


{% block content %}
    <h2 class="sub-header">用户登陆</h2>



    <form action="/login/" method="POST" style="width:300px">

      <div class="form-group">
        <label>用户名</label>
        <input type="text" class="form-control" name="username" >
      </div>
      <div class="form-group">
        <label>密码</label>
        <input type="password" class="form-control" name="password" >
      </div>

      <button type="submit" class="btn btn-primary" style="width:100px">登陆</button>

    </form>




    <script>
        $("#loginpage").addClass('active')
        $(".tablesorter").tablesorter({
            widgets: ['zebra']
        })
        

    </script>

{% endblock %}

