{% extends "base.html" %}


{% block content %}
    <h2 class="sub-header">对账表</h2>


    <table class="tablesorter">
        <thead>
            <tr>
                <th>所属用户</th>
                <th>日期</th>
                <th>品牌</th>
                <th>型号</th>
                <th>序列号</th>
                <th>进价</th>
                <th>编号</th>
                <th>销售价</th>
                <th>销售日期</th>
                <th>已结算</th>
                <th>备注</th>
                {% if request.user.is_superuser %}
                    <th>操作</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for r in rs %}
                <tr>
                    <td>{{ r.user.username }}</td>
                    <td>{{ r.time|date:"Y-m-d" }}</td>
                    <td>{{ r.brand }}</td>
                    <td>{{ r.pattern }}</td>
                    <td>{{ r.sn }}</td>
                    <td>{{ r.price_in }}</td>
                    <td>{{ r.number }}</td>
                    <td>{{ r.price_out }}</td>
                    <td>{{ r.time_out|date:"Y-m-d" }}</td>
                    <td>
                      {% if r.settled %}
                        √
                      {% else %}
                        ×
                      {% endif %}
                    </td>
                    <td>{{ r.remark }}</td>
                    {% if request.user.is_superuser %}
                        <td>
                            {% if r.settled %}
                                <a href="/phone_unsettled/?id={{ r.id }}" class="btn btn-xs btn-warning">标记未结算</a>
                            {% else %}
                                <a href="/phone_settled/?id={{ r.id }}" class="btn btn-xs btn-success">标记已结算</a>
                            {% endif %}
                            <a href="/phone_del/?id={{ r.id }}" onclick="return confirm('确定要删除？')" class="btn btn-xs btn-danger">删除</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>



    <script>
        $("#phones").addClass('active')
        $(".tablesorter").tablesorter({
            widgets: ['zebra']
        })
        

    </script>

{% endblock %}

