{% extends "base.html" %}


{% block content %}
    <h2 class="sub-header">账目录入</h2>

    <form action="/phone_add/" method="POST" class="form-horizontal">

      <div class="form-group">
        <label  class="col-sm-2 control-label" >所属用户</label>
        <select class="form-control"  style="display:inline;width:auto;" name="user_id">
            <option value="{{ default_user.id }}">{{ default_user.username }}</option>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label  class="col-sm-2 control-label" >日期</label>
        <input type="text" class="form-control"  style="display:inline;width:auto;" name="time" value="{{ show_time }}">
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label" >品牌</label>
        <input type="text" class="form-control"  style="display:inline;width:auto;" name="brand" value="{{ default_brand }}" id="brand">
        <select class="form-control"  style="display:inline;width:auto;" id="brand_select">
            <option value="{{ default_brand }}">{{ default_brand }}</option>
            {% for b in brands %}
                <option value="{{ b }}">{{ b }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label" >型号</label>
        <input type="text" class="form-control"  style="display:inline;width:auto;" name="pattern" >
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label" >编号</label>
        <input type="text" class="form-control"  style="display:inline;width:auto;" name="number" >
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label" >进价</label>
        <input type="text" class="form-control"  style="display:inline;width:auto;" name="price_in" >
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label" >序列号</label>
        <input type="text" class="form-control"  style="display:inline;width:auto;" name="sn" >
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label" >销售价</label>
        <input type="text" class="form-control"  style="display:inline;width:auto;" name="price_out" >
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label" >销售日期</label>
        <input type="text" class="form-control"  style="display:inline;width:auto;" name="time_out" >
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label" >已结算</label>
        <input type="checkbox" name="settled" >
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label" >备注</label>
        <input type="text" class="form-control"  style="display:inline;width:auto;" name="remark" >
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label" ></label>
        <button type="submit" class="btn btn-primary" style="width:100px">提交</button>
      </div>


    </form>




    <script>
        $("#index").addClass('active')
        $(".tablesorter").tablesorter({
            widgets: ['zebra']
        })

        $("#brand_select").change(function(){
          $("#brand").val($("#brand_select").val())
        })
        

    </script>

{% endblock %}

