{% extends "base.html" %}


{% block content %}
    <h2 class="sub-header">对账表</h2>

    {% if request.user.is_superuser %}
        <label>指定用户:</label>
        <a href="/phones" class="btn btn-xs btn-warning">所有用户</a>
        {% for user in users %}
            <a href="/phones/{{ user.id }}" class="btn btn-xs btn-warning">{{ user.username }}</a>
        {% endfor %}
        <br/>
        <br/>
    {% endif %}

    <a href="#" id="settled_show" class="btn btn-xs btn-default">显示/隐藏已结算</a>
    <a href="#" onclick="$('#filter_form').toggle()" class="btn btn-xs btn-default">检索选项</a>

    <form action="." class="form-horizontal"  id="filter_form" style="display:{{ filter_flag }}">
        <div class="form-group">
            <label class="col-sm-2 control-label">日期</label>
            <input type="text" class="form-control" style="display:inline;width:auto;" name="time" value="{{ time }}">
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">品牌</label>
            <input type="text" class="form-control" style="display:inline;width:auto;" name="brand" value="{{ brand }}">
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">型号</label>
            <input type="text" class="form-control" style="display:inline;width:auto;" name="pattern" value="{{ pattern }}">
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">序列号</label>
            <input type="text" class="form-control" style="display:inline;width:auto;" name="sn" value="{{ sn }}">
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">编号</label>
            <input type="text" class="form-control" style="display:inline;width:auto;" name="number" value="{{ number }}">
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">是否结算</label>
            <input type="radio" name="settled" value="" {% if settled == "" %}checked{% endif %}>不限
            <input type="radio" name="settled" value="True" {% if settled == True %}checked{% endif %}>已结算
            <input type="radio" name="settled" value="False" {% if settled == False %}checked{% endif %}>未结算
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <button type="submit" class="btn btn-primary" style="width:100px">筛选</button>
            <button type="button" class="btn btn-default" style="width:100px" onclick="$('.form-control').val('')">清空</button>
        </div>
    </form>

    <table class="tablesorter">
        <thead>
            <tr>
                <th>所属用户</th>
                <th>日期</th>
                <th>品牌</th>
                <th>型号</th>
                <th>序列号</th>
                <th>进价</th>
                <th>编号</th>
                <th>销售价</th>
                <th>销售日期</th>
                <th>已结算</th>
                <th>备注</th>
                {% if request.user.is_superuser %}
                    <th>操作</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for r in rs %}
                <tr {% if r.settled %}class="settled"{% endif%}>
                    <td>{{ r.user.username }}</td>
                    <td>{{ r.time }}</td>
                    <td>{{ r.brand }}</td>
                    <td>{{ r.pattern }}</td>
                    <td>{{ r.sn }}</td>
                    <td>{{ r.price_in }}</td>
                    <td>{{ r.number }}</td>
                    <td>{{ r.price_out }}</td>
                    <td>{{ r.time_out }}</td>
                    <td>
                      {% if r.settled %}
                        √
                      {% else %}
                        ×
                      {% endif %}
                    </td>
                    <td>{{ r.remark }}</td>
                    {% if request.user.is_superuser %}
                        <td>
                            {% if r.settled %}
                                <a href="/phone_unsettled/?id={{ r.id }}&uid={{ user_id }}" class="btn btn-xs btn-warning">标记未结算</a>
                            {% else %}
                                <a href="/phone_settled/?id={{ r.id }}&uid={{ user_id }}" class="btn btn-xs btn-success">标记已结算</a>
                            {% endif %}
                            <a href="/phone_del/?id={{ r.id }}&uid={{ user_id }}" onclick="return confirm('确定要删除？')" class="btn btn-xs btn-danger">删除</a>

                            <a style="cursor: pointer" onclick="$(this).next().toggle()" class="btn btn-xs btn-primary">修改</a>
                            <form action="/phone_update/" style="width:200px;display: none" method="POST">
                                <input type="hidden" name="id" value="{{ r.id }}"  />
                                <input type="hidden" name="uid" value="{{ user_id }}"  />
                                日期:
                                <input type="text" name="time" value="{{ r.time }}"  />
                                <br/>
                                品牌:
                                <input type="text" name="brand" value="{{ r.brand }}"  />
                                <br/>
                                型号:
                                <input type="text" name="pattern" value="{{ r.pattern }}"  />
                                <br/>
                                序列号:
                                <input type="text" name="sn" value="{{ r.sn }}"  />
                                <br/>
                                进价:
                                <input type="text" name="price_in" value="{{ r.price_in }}"  />
                                <br/>
                                编号:
                                <input type="text" name="number" value="{{ r.number }}"  />
                                <br/>
                                销售价:
                                <input type="text" name="price_out" value="{{ r.price_out }}"  />
                                <br/>
                                销售日期:
                                <input type="text" name="time_out" value="{{ r.time_out }}"  />
                                <br/>
                                备注:
                                <input type="text" name="remark" value="{{ r.remark }}"  />
                                <br/>
                                <input type="submit" value="提交" />
                            </form>

                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        <label>总进价：</label> {{ total_in }}
        <label>总销售价：</label>  {{ total_out }}
    </p>

    <script>
        $("#phones").addClass('active')
        $(".tablesorter").tablesorter({
            widgets: ['zebra']
        })

        $(function(){
            if($.cookie("show_flag") == "false"){
                $(".settled").hide()
            }

            $("#settled_show").click(function(){
                $(".settled").toggle()
                show_flag = $(".settled").is(":visible")
                $.cookie("show_flag", show_flag)
            })

        })
        

    </script>

{% endblock %}

